@page "/ingresar"
@inject NavigationManager Navigation
@rendermode InteractiveServer

@inject CasoDeUsoUsuarioConsultaId CasoDeUsoUsuarioConsultaId
@inject ServicioIniciar ServicioIniciar


<h3> Bienvenido @ServicioIniciar.userL.nombre @ServicioIniciar.userL.apellido</h3>

@code {

}